h1{
margin-top:70px;

}
.tab {
    overflow: hidden;
    
    display:none;
}
#ads table{
    width:100%;
}
.tabcontent{
    border:1px solid black;
}
#ads{color:#F67A06;}
#ads table,#ads td,#ads th{
    border-collapse: collapse;
    border:1px solid black;
}
.tab button {
    background-color: inherit;
    color:black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    
    transition: 0.3s;
}
.registerContent{
    
overflow:hidden;
    border:1px solid rgb(233, 214, 214);
    padding:20px;
    width:60%;
    margin:0px auto;
}
.loginContent{
    display:block;
}
.signupContent{
    display:block;
}
input[type="text"],input[type="password"]{
    padding:5px;
    
    border:1px solid rgb(233, 214, 214);

    border-radius:2px;
    margin:0px 0px 15px 15px;
}
button{
    background-color:#2B64BB;
    padding:5px 25px;
    border-radius: 5px;
    font-size:23px;
    color:white;
    border:none;
    display:table;
    margin:0px auto;

}
.loginContent a{
    margin-top:20px;
    display:block;
    text-align:center;}
    P{
        text-align: center;
        COLOR:rgb(83, 81, 81);
        margin-bottom:100px;
    }
    @media only screen and (max-width:880px){
        .registerContent{
            width:75%;
            font-size:15px;
        }
    }
    @media only screen and (max-width:700px){
        .registerContent{
            width:85%;
        }
        .registerContent h4{font-size:15px; }
    }
    @media only screen and (max-width:540px){
        .registerContent h4{font-size:13px; width:95%; }
        input[type="text"],input[type="password"]{
            font-size:13px;}
    }